<link rel='stylesheet' href='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/datetimepicker/jquery.datetimepicker.css' />
<script src='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/datetimepicker/build/jquery.datetimepicker.full.min.js'></script>

<h1><%= translate 'holiday' %></h1>

<%= error_messages_for 'holiday' %>

<form action="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/update">
  <input type="hidden" name="holiday[id]" value="<%= params[:id] %>" />
  <input type="hidden" name="holiday[user_id]" value="<%= @holiday.user_id.blank? ? User.current.id.to_s : @holiday.user_id %>" />
  <table>
    <tr>
	  <td><label><%= translate 'kind' %></label></td>
	  <td>
	    <select name="holiday[kind]" id="holiday_kind">>
		<% @kind_hash.each {|k,v| %>
		  <option value="<%= k.to_s.strip %>"><%= v.to_s.strip %></option>
		<% } %>
		</select>
	  </td>
	</tr>
    <tr>
      <td><label><%= translate 'who' %></label></td>
      <td>
        <input type="text" id="holiday_who" name="holiday[who]" />
      </td>
    </tr>
    <tr>
      <td><label><%= translate 'start' %></label></td>
      <td><input type="text" id="holiday_start" name="holiday[start]" /></td>
    </tr>
    <tr>
      <td><label><%= translate 'end' %></label></td>
      <td><input type="text" id="holiday_end" name="holiday[end]" /></td>
    </tr>
    <tr>
      <td><label><%= translate 'detail' %></label></td>
      <td><input type="text" id="holiday_detail" name="holiday[detail]" /></td>
    </tr>
  </table>
<input type="submit" value="<%= translate 'save' %>" />
</form><br/><br/>
<a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/show?id=<%= @holiday.id.to_s %>"><%= translate 'show' %></a>
<a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/destroy?id=<%= @holiday.id.to_s %>"><%= translate 'destroy' %></a>
<a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/index"><%= translate 'list' %></a>

<%
  js_locale = User.current.language  rescue nil
  if js_locale.blank?
    js_locale = Setting.default_language
  end
%>

<script type="text/javascript">
 $(document).ready(function() {
 $.datetimepicker.setLocale('<%= js_locale %>');
 var options_start = {
   i18n: {
    de: {
     months: ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],
     dayOfWeek: ["So.", "Mo", "Di", "Mi","Do", "Fr", "Sa."]
    }
   },
   timepicker: false,
   datepicker: true,
   format: 'Y-m-d',
   value: '<%= @holiday.start.blank? ? '' : @holiday.start.to_date.to_s %>'
 };
 var options_end = {
   i18n: {
    de: {
     months: ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],
     dayOfWeek: ["So.", "Mo", "Di", "Mi","Do", "Fr", "Sa."]
    }
   },
   timepicker: false,
   datepicker: true,
   format: 'Y-m-d',
   value: '<%= @holiday.end.blank? ? '' : @holiday.end.to_date.to_s %>'
 };
 $("#holiday_start").datetimepicker(options_start);
 $("#holiday_end").datetimepicker(options_end);
 $("#holiday_user_id").val('<%= @holiday.user_id %>');
 $("#holiday_detail").val('<%= @holiday.detail %>');
 $("#holiday_kind").val('<%= @holiday.kind %>');
 $("#holiday_who").val('<%= @holiday.who.to_s %>');
 });
</script>
