<link rel='stylesheet' href='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/datetimepicker/jquery.datetimepicker.css' />
<script src='<%= Setting.plugin_mega_calendar['sub_path'] %>plugin_assets/mega_calendar/javascripts/datetimepicker/build/jquery.datetimepicker.full.min.js'></script>

<h1><%= translate 'holiday' %></h1>

<%= error_messages_for 'holiday' %>

<form action="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/create">
  <input type="hidden" name="holiday[user_id]" value="<%= User.current.id.to_s %>" />
  <table>
    <tr>
	  <td><label><%= translate 'kind' %></label></td>
	  <td>
	    <select name="holiday[kind]" id="holiday_kind">>
		  <% @kind_hash.each {|k,v| %>
			<option value="<%= k.to_s.strip %>"><%= v.to_s.strip %></option>
		  <% } %>
		</select>
	  </td>
	</tr>
    <tr>
      <td><label><%= translate 'who' %></label></td>
      <td><input type="text" id="holiday_who" name="holiday[who]" /></td>
    </tr>
    <tr>
      <td><label><%= translate 'start' %></label></td>
      <td><input type="text" id="holiday_start" name="holiday[start]" /></td>
    </tr>
    <tr>
      <td><label><%= translate 'end' %></label></td>
      <td><input type="text" id="holiday_end" name="holiday[end]" /></td>
    </tr>
    <tr>
      <td><label><%= translate 'detail' %></label></td>
      <td><input type="text" id="holiday_detail" name="holiday[detail]" /></td>
    </tr>
  </table>
<input type="submit" value="<%= translate 'save' %>" />
</form>

<%
  js_locale = User.current.language  rescue nil
  if js_locale.blank?
    js_locale = Setting.default_language
  end
%>

<script type="text/javascript">
 $(document).ready(function() {
 $.datetimepicker.setLocale('<%= js_locale %>');
 var options = {
   i18n: {
    de: {
     months: ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],
     dayOfWeek: ["So.", "Mo", "Di", "Mi","Do", "Fr", "Sa."]
    }
   },
   timepicker: false,
   datepicker: true,
   format: 'Y-m-d'
 };
 $("#holiday_start").datetimepicker(options);
 $("#holiday_end").datetimepicker(options);
 $("#holiday_start").val('<%= params[:start] %>');
 $("#holiday_end").val('<%= params[:start] %>');
 $("#holiday_who").val('<%= User.current.name.to_s %>');
 $("#holiday_detail").focus();
 });
</script>
